@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@400;700&display=swap');

*{
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
}


/*#570404, #333*/
body{
    background-image: linear-gradient(to right,#570404, #333);
    padding:0;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 600px;
    background-image: linear-gradient(to right, #570404 30%, #333), url(1320087.jpeg);
    background-size: cover;
}

.container:hover {
    background-image: linear-gradient(to right, #570404 30%, #333), url(1320087.jpeg);
    background-size: cover;
}

/* image size was too small for the container because of which the image was not visible*/


header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

a{
    color: #fff;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    text-transform: uppercase;
}

ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

ul a:hover{
    border-bottom: 2px solid #fff;
}

.content{
    width: 50%;
    margin-top: 50px;
    padding:30px;
    color:#fff;
}

.content h2{
    font-size: 80px;
    text-transform: uppercase;
}

.content p{
    initial-letter: 2px;
    width: 420px;
    padding: 20px 0;
}

.content button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: none;
}

.content button:hover{
    background-color: transparent;
    border:2px solid #fff;
    color: #fff;
    cursor: pointer;
}